@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
    .header-welcome
        .h1
            font-size: 64px

    .header-contacts
        font-size: 14px

    .carousel-services-item
        flex-direction: column

    .s
        &-king, &-review, &-partners
            padding: 8% 0
        &-call
            background-size: cover


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    .header-welcome
        .h1
            font-size: 48px

    .s-call
        &::before
            width: 100%

        .callback
            padding: 12% 0

    .footer-info
        margin-bottom: 15px
        .footer-phone
            padding-top: 0
            font-size: 22px
            .fa
                top: 9px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    .header-welcome
        .h1
            font-size: 44px

    .header-contacts
        .header-phone
            text-align: left

    .button
      padding: 14px 40px

    .quotes
        display: none

    .partners
        .owl-nav
            button
                &.owl-prev
                    left: 0
                &.owl-next
                    right: 0
    .s-partners
        .h2
            margin: 0

    .footer-social
        margin-top: 0
        a
            margin-top: 0


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    .header-welcome
        .h1
            font-size: 28px
            margin-top: 5px
        p
            span
                font-size: 10px
                margin: 0 5px
        strong
            margin-top: 14px
            font-size: 14px

    .phone
        display: none

    .logo
        img
            margin-left: 30px

    .header-composition
        p
            font-size: 15px
            margin-top: 30px

    .button
        padding: 12px 36px
