@import "fonts"
@import "libs"
@import "vars"

*
    box-sizing: border-box
    &:before, &:after
        box-sizing: border-box

*::placeholder
    color: #666
    opacity: 1

::selection
    background-color: $accent
    color: $white

html, body
    height: 100%

body
    font-size: 16px
    min-width: 320px
    position: relative
    line-height: 1.65
    font-family: $default-font
    overflow-x: hidden
    opacity: 1

    .site-header
        min-height: 700px
        height: 100vh
        background-color: $dark
        color: $white

    .top-line
        padding-top: 40px
        position: absolute
        width: 100%
        z-index: 1

.logo
    img
        width: 125px
        height: auto
        margin-left: 45px

.phone
    position: absolute
    right: 85px
    top: 45px
    font-family: firasans, sans-serif
    font-size: 22px
    white-space: nowrap

    .fa
        color: #555
        font-size: 22px
        margin-right: 3px


section, header
    position: relative
    background-size: cover
    background-position: center

section
    background-color: $white

.img-responsive
    display: block
    max-width: 100%
    height: auto

.text-center
    text-align: center

.hamburger
    position: absolute
    right: 0
    top: 34px
    .hamburger-box
        width: 34px
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
            width: 34px
            height: 2px
            border-radius: 0
            color: $white
            background-color: $white


@import "media"
