@import "fonts"
@import "libs"
@import "vars"

*
    box-sizing: border-box
    &:before, &:after
        box-sizing: border-box

*::placeholder
    color: #666
    opacity: 1

::selection
    background-color: $accent
    color: $white

html, body
    height: 100%

body
    font-size: 16px
    min-width: 320px
    position: relative
    line-height: 1.65
    font-family: $default-font
    overflow-x: hidden
    opacity: 1

.h1, .h2, .h3, .h4, .h5, .h6
    line-height: 1.4
    text-transform: uppercase

.img-responsive
    display: block
    max-width: 100%
    height: auto

.text-center
    text-align: center


/*==========  Button  ==========*/

.button
  display: inline-block
  border: none
  color: $white
  text-decoration: none
  background-color: $accent
  padding: 16px 45px
  font-size: 13px
  text-transform: uppercase
  font-weight: 600
  letter-spacing: 3px
  border-radius: 4px
  text-align: center
  position: relative
  outline: none
  transition: background-color .1s ease
  &::after
      transition: background-color .2s ease
      position: absolute
      content: ''
      height: 4px
      bottom: 0
      width: 100%
      background-color: darken($accent, 50%)
      opacity: .18
      border-bottom-left-radius: 2px
      border-bottom-right-radius: 2px
      left: 0
  &:focus, &:hover
      text-decoration: none
      color: $white
  &:hover
      background-color: lighten($accent, 5%)
      &::after
          opacity: .22
  &:active
      background-color: darken($accent, 5%)
      &::after
          opacity: .32
  &.button-white
    background-color: $white
    color: #444
    &::after
      background-color: rgba(#000, .6)
    &:hover
      &::after
        background-color: rgba(#000, .2)
    &:active
      &::after
        background-color: rgba(#000, .4)


/*==========  My-header ==========*/

.ishome
    .site-header
        min-height: 700px
        height: 100vh
        background-color: $dark
        color: $white

    .top-line
        padding-top: 40px
        position: absolute
        width: 100%
        z-index: 1

.logo
    img
        width: 125px
        height: auto
        margin-left: 45px

.phone
    position: absolute
    right: 85px
    top: 45px
    font-family: firasans, sans-serif
    font-size: 22px
    white-space: nowrap

    .fa
        color: $grey
        font-size: 22px
        margin-right: 3px

section, header
    position: relative
    background-size: cover
    background-position: center

section
    background-color: $white



.hamburger
    position: absolute
    right: 0
    top: 34px
    .hamburger-box
        width: 34px

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
    width: 34px
    height: 2px
    border-radius: 0
    background-color: $white

.mm-navbar .mm-title
    padding: 0

.mm-navbar
    height: auto
    position: relative
    border: 0
    .mm-title img
        width: 128px
        height: auto
        margin: 10px 0 35px



html.mm-opened
    overflow-y: scroll

.mm-panels > .mm-panel.mm-hasnavbar
    right: -18px

.mm-listview > li:not(.mm-divider):after
    display: none

.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu.mm-theme-black .mm-listview > li.mm-selected > span
    background-color: transparent
    color: $accent

.mm-panels > .mm-panel:after, .mm-panels > .mm-panel:before
    height: 0

.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview
    margin-top: 0

.mm-listview
    > li
        > a
            transition: color .25s ease
            padding:
                left: 14%
                right: 14%
                top: 8px
            &:hover
                color: $accent
                &:before
                    color: $accent
            &::before
                content: '\f219'
                font-family: fontawesome
                margin-right: 8px
                text-decoration: none
                font-size: 12px
                color: $white
                transition: color .25s ease
        &.active
            &>a
                color: $accent



.header-info
    display: flex
    height: 100%
    position: relative
    top: 0

.flex-center
    margin: auto

.header-composition
    text-align: center
    position: relative
    p
        margin-top: 40px
    .button
        margin-top: 25px

.header-welcome
    p
        display: flex
        align-items: center
        white-space: nowrap
        margin: 0
        margin-bottom: -10px
        font-size: 14px
        text-transform: uppercase
        span
            margin: 0 10px
        &::before, &::after
            content: ''
            height: 1px
            width: 100%
            position: relative
            background-color: $white
            display: inline-block
    .h1
        margin: 0
        white-space: nowrap
        border-bottom: 1px solid $white
        font-size: 70px
        font-weight: 100
        line-height: 1.6
    strong
        display: block
        font-size: 17px
        text-transform: uppercase
        margin-top: 25px
        .fa
            margin-right: 10px
            font-size: 12px
            color: $grey
            &:last-child
                margin-left: 10px
                margin-right: inherit

.header-social
    position: absolute
    display: flex
    right: 0
    top: 0
    height: 100%
    border-left: 1px solid rgba($white, .1)
    padding: 0 13px

.social
    margin: auto
    ul, li
        margin: 0
        padding: 0
        list-style-type: none
    a
        display: block
        width: 38px
        height: 38px
        margin: 18px 0
        text-align: center
        font-size: 19px
        line-height: 38px
        border-radius: 10em
        color: #2C2C2C
        background-color: rgba($white, .2)
        transition: background-color .25s ease
        &:hover
            background-color: rgba($white, .4)

.header-contacts
    position: absolute
    bottom: 0
    left: 0
    padding: 13px 0
    width: 100%
    border-top: 1px solid rgba($white, .15)
    background-color: rgba(#151515, .15)
    .fa
        margin-right: 5px
        font-size: 16px
        color: $grey
    .header-phone
        font-family: firasans, sans-serif
        text-align: center


/*==========  My-content  ==========*/

$colors: $blue, $red, $accent
@for $i from 1 through length($colors)
    .carousel-services .owl-item:nth-child(#{length($colors)}n+#{$i})
        background-color: nth($colors, $i)


@import "media"
